@tailwind base;
@tailwind components;
@tailwind utilities;
#experience .is-hidden {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}
html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}
